@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary text-white font-semibold py-1.5 px-4 rounded hover:bg-blue-600 disabled:opacity-50 disabled:cursor-not-allowed transition-colors text-sm;
  }
  
  .input-field {
    @apply w-full bg-neutral-50 border border-gray-300 rounded-sm px-2 py-2 text-sm focus:outline-none focus:border-gray-400 placeholder-gray-400;
  }
}
